<section>
  <fieldset>
    {{#each pages}}
    <div class="form-group" data-page-uuid="{{uuid}}">
      <label>{{{link}}}</label>
      <div class="form-fields">
        <button type="button" class="icon fa-solid fa-trash" data-action="deleteEvent"></button>
      </div>
    </div>
    {{/each}}
  </fieldset>
</section>
