<section class="{{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
  {{formGroup fields.text.fields.content value=source.text.content enriched=ctx.enriched.public height=400 toggled=true hint=(localize "QUESTBOARD.QUEST.EDIT.HINTS.content")}}
</section>
