<section class="{{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
  <fieldset>
    {{formGroup fields.public.field value=fields.public.value enriched=fields.public.enriched height=400 toggled=true hint=fields.public.hint}}
  </fieldset>
</section>
