<section class="{{tabs.notes.cssClass}}" data-group="{{tabs.notes.group}}" data-tab="{{tabs.notes.id}}">
  {{formGroup systemFields.description.fields.private value=source.system.description.private enriched=ctx.enriched.private height=400 toggled=true}}
</section>
