<section class="{{tabs.notes.cssClass}}" data-group="{{tabs.notes.group}}" data-tab="{{tabs.notes.id}}">
  {{formGroup fields.private.field value=fields.private.value enriched=fields.private.enriched height=400 toggled=true}}
</section>
