<section class="{{tabs.private.cssClass}}" data-group="{{tabs.private.group}}" data-tab="{{tabs.private.id}}">
  {{#with fields}}
  <fieldset>
    {{formGroup private.field value=private.source enriched=private.enriched height=300 toggled=true}}
  </fieldset>
  {{/with}}
</section>
