<section class="{{tabs.public.cssClass}}" data-group="{{tabs.public.group}}" data-tab="{{tabs.public.id}}">
  {{#with fields}}
  {{formGroup public.field value=public.source enriched=public.enriched height=300 toggled=true}}
  {{/with}}
</section>
