<section class="{{tabs.identity.cssClass}}" data-group="{{tabs.identity.group}}" data-tab="{{tabs.identity.id}}">
  <fieldset>
    {{> "modules/quest-board/templates/shared/edit/basics.hbs"}}
    {{formGroup fields.owner.field value=fields.owner.source rootId=rootId}}
  </fieldset>
</section>
