<section class="{{tabs.proprietor.cssClass}}" data-group="{{tabs.proprietor.group}}" data-tab="{{tabs.proprietor.id}}">
  <fieldset>
    {{#if fields.owner.value}}
    <p class="hint empty">This section is TODO.</p>
    {{else}}
    <p class="hint empty">no owner</p>
    {{/if}}
  </fieldset>
</section>
