<header class="journal-page-header">
  <h1 {{#if document.system.complete}}class="dashed"{{/if}}>
    <span class="name">{{name}}</span> {{#if document.system.complete}}&mdash; {{localize "QUESTBOARD.QUEST.VIEW.HEADERS.complete"}}{{/if}}
  </h1>
  <p class="details">{{questType}}</p>
</header>
