<section>
  {{#if fields.private.enriched}}
  <aside class="fvtt notable quest-board">
    <h4>{{localize "QUESTBOARD.QUEST.VIEW.HEADERS.private"}}</h4>
    {{{fields.private.enriched}}}
  </aside>
  {{/if}}
</section>
