/* VARIABLES */
@scope (.theme-dark) to (.themed) {
  .quest-board, &.quest-board {
    --tracker-color-bg: rgba(0, 0, 255, 0.7);
    --tracker-color-fill: 200, 110, 100;
  }
}
@scope (.theme-light) to (.themed) {
  .quest-board, &.quest-board {
    --tracker-color-bg: rgba(125, 125, 0, 0.7);
    --tracker-color-fill: 180, 180, 0;
  }
}

.quest-board.application .window-content {
  padding: 1rem;

  & legend:has(button) {
    display: flex;
    align-items: center;
    gap: 0.5em;

    & button {
      flex: 0;
      border: none;
      background: none;
      padding: 0;
      min-height: 1em;
      height: 1em;
      width: 1em;
      outline: none;
      box-shadow: none;
    }
  }

  .form-group.nested {
    margin-left: 1rem;
  }

  .form-group.label-bottom {
    flex-direction: column-reverse;
    gap: 0;
  }

  .sep {
    flex: 0;
  }

  .hint.empty {
    text-align: center;
  }

  fieldset.item-list {
    .img {
      flex: 0 0 2em;
    }

    .label {
      flex: 1;
    }

    .price .stack {
      opacity: 0.7;
    }

    .price, .quantity {
      flex: none;
    }

    input.quantity {
      flex: 0 0 3rem;
      text-align: center;
    }
  }

  .prose prose-mirror {
    margin-left: 0;
    margin-right: 0;
  }
}

.journal-entry-page.quest-board {
  /* Shared */
  .details {
    font-style: italic;
  }

  /* Quest */
  &.quest-page {
    .dashed .name {
      text-decoration: line-through;
    }

    & ul.objectives {
      list-style: none;
      padding-left: 0;

      & ul.objectives {
        padding-left: 1rem;
      }
    }

    & dnd5e-checkbox.disabled {
      pointer-events: none;
    }

    & dnd5e-checkbox[checked] + span {
      text-decoration: line-through;
    }
  }

  /* Shop */
  &.shop-page {
    & table .center {
      text-align: center;
    }

    & table .center > * {
      place-self: center;
    }

    & table .price .stack {
      opacity: 0.7;
    }
  }

  /* Track */
  &.track-page {
    .battery {
      display: grid;
      grid-template-columns: 1fr 3em;
      align-items: center;
      --filled: 1;
      --preview: 0.5;
      --empty: 0.1;
      gap: 1rem;

      .bars {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(1rem + 2px), 1fr));

        .bar {
          cursor: var(--cursor-pointer);
          height: 1.5rem;
          margin: 0.5em 0;
          position: relative;

          &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 2px;
            right: 2px;
            bottom: 0;
            transition: background-color 250ms ease;
            background-color: rgba(var(--tracker-color-fill), var(--empty));
            filter: drop-shadow(2px 2px 0 var(--tracker-color-bg));
          }

          &.filled::after {
            background-color: rgba(var(--tracker-color-fill), var(--filled));
          }

          &:hover::after,
          &:has(~:hover):not(.filled)::after,
          &:hover ~ .filled::after {
            background-color: rgba(var(--tracker-color-fill), var(--preview));
          }
        }
      }

      input {
        text-align: center;
      }
    }
  }
}
