.quest-board.application .window-content {
  padding: 1rem;

  & legend:has(button) {
    display: flex;
    align-items: center;
    gap: 0.5em;

    & button {
      flex: 0;
      border: 0;
      padding: 0;
      background: none;
      height: unset;
    }
  }

  .form-group.nested {
    margin-left: 1rem;
  }

  .form-group.label-bottom {
    flex-direction: column-reverse;
    gap: 0;
  }

  .sep {
    flex: 0;
  }

  .hint.empty {
    text-align: center;
  }

  fieldset.item-list {
    .img {
      flex: 0 0 2em;
    }

    .label {
      flex: 1;
    }

    .price .stack {
      opacity: 0.7;
    }

    .price, .quantity {
      flex: none;
    }

    input.quantity {
      flex: 0 0 3rem;
      text-align: center;
    }
  }
}

.journal-entry-page.quest-board {
  /* Shared */
  .details {
    font-style: italic;
  }

  /* Quest */
  &.quest-page {
    .dashed .name {
      text-decoration: line-through;
    }

    & ul.objectives {
      list-style: none;
      padding-left: 0;

      & ul.objectives {
        padding-left: 1rem;
      }
    }

    & dnd5e-checkbox.disabled {
      pointer-events: none;
    }

    & dnd5e-checkbox[checked] + span {
      text-decoration: line-through;
    }
  }

  /* Shop */
  &.shop-page {
    & table .center {
      text-align: center;
    }

    & table .center > * {
      place-self: center;
    }

    & table .price .stack {
      opacity: 0.7;
    }
  }

  /* Track */
  &.track-page {
    .battery {
      display: grid;
      grid-template-columns: 1fr 3em;
      align-items: center;
      --yellow: 200, 110, 100;
      --filled: 1;
      --preview: 0.5;
      --empty: 0.1;
      --blue-50: rgba(0, 0, 255, 0.7);
      gap: 1rem;

      .bars {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(1rem + 2px), 1fr));

        .bar {
          cursor: var(--cursor-pointer);
          height: 1.5rem;
          margin: 0.5em 0;
          position: relative;

          &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 2px;
            right: 2px;
            bottom: 0;
            transition: background-color 250ms ease;
            background-color: rgba(var(--yellow), var(--empty));
            filter: drop-shadow(2px 2px 0 var(--blue-50));
          }

          &.filled::after {
            background-color: rgba(var(--yellow), var(--filled));
          }

          &:hover::after,
          &:has(~:hover):not(.filled)::after,
          &:hover ~ .filled::after {
            background-color: rgba(var(--yellow), var(--preview));
          }
        }
      }

      input {
        text-align: center;
      }
    }
  }
}

.application.quest-board.calendar {

  [data-application-part=format] {
    text-align: center;
    .timestamp {
      font-family: monospace;
    }
  }

  [data-application-part=calendar] {

    .calendar-header {
      display: grid;
      grid-template-columns: repeat(var(--days), 1fr);
      gap: 1em;
      margin: 1em 0;
      text-align: center;
    }

    .dates {
      display: grid;
      grid-template-columns: repeat(var(--days), 1fr);
      gap: 1em;
      margin: 1em 0;

      [data-action=pickDate] {
        aspect-ratio: 1;
        border: 1px solid gray;
        transition: all 200ms ease;
        display: flex;
        font-size: 2em;
        align-items: center;
        justify-content: center;

        &:hover {
          text-shadow: unset;
          background-color: rgb(14, 0, 143);
          color: white;
          transform: scale(1.1);
        }

        &.active {
          background-color: rgb(76, 0, 148);
          color: white;
          transform: scale(1.1);
        }
      }
    }

    .month {
      display: flex;
      text-align: center;
      align-items: center;
      gap: 1em;

      .label {
        flex: 1;
        margin: 0;
      }

      button {
        flex: 0 0 4rem;
      }
    }
  }
}
